      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
      }

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        position: fixed;  
        top: 0;           
        left: 0;         
        width: 100%;      
        z-index: 9999;    
        background-color: white; 
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        background-color: white;
      }

      .header-left {
        display: flex;
        align-items: center;
        gap: 5px; 

      }

      .youtube-logo {
        height: 40px;
        width: 101px;
        object-fit: contain;
      }

      .search-box {
        flex: 1;
        max-width: 600px;
        margin: 0 40px;
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 2px;
        overflow: hidden;
      }

      .search-box input {
        flex: 1;
        padding: 8px 12px;
        font-size: 16px;
        border: none;
        outline: none;
      }

      .search-box button {
        background-color: #f8f8f8;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        font-size: 18px;
        color: #606060;
      }
      .search-box button:hover {
        background-color: #e8e8e8;
      }

      .search-box i.fa-microphone {
        margin-left: 10px;
        font-size: 18px;
        color: #606060;
        cursor: pointer;
      }

      .header-icons {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      .header-icons i {
        font-size: 20px;
        cursor: pointer;
        color: #606060;
      }

      .header-icons i:hover {
        color: black;
      }
      .Profil-foto{
        width: 50px;
        height: 44.5px;
        object-fit: cover;
      }
      .cizgi{
        display: block;
        width: 705px;
        height: 5px;
        background-color: #e8e8e8;

      }
      .home-foto{
        width: 24px;
        height: 24px;
        object-fit: cover;
      }